@tailwind base;
@tailwind components;
@tailwind utilities;



*{ 
  box-sizing: border-box;
  margin: 0px;
}

.insta{
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)
  );
}

.dark-toggle{
  background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%)
  );
}



